/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  max-width: 100%;
  overflow-x: hidden;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

html.no-scroll, body.no-scroll {
  position: fixed;
  overflow: hidden;
}

@include media-query($medium-down) {
  html.menu-open, body.menu-open {
    position: fixed;
    overflow: hidden;
  }
}
