.see-all-designs {
	display: none;
	&.see-all-designs--loaded {
		display: block;
	}
}

.all-designs {
	display: none;
	top: 105px;
	height: calc(100vh - 105px);
	padding: 50px 70px;

	.all-designs__close {
		background: rgba(0, 0, 0, 0.05);
		border-radius: 30px;
		cursor: pointer;
		padding: 13px 17px 10px 17px;
		position: absolute;
		top: 150px;
		right: 85px;

		svg {
			width: 14px;
			height: 14px;
		}

		svg g {
			stroke-width: 4;
		}

		&:hover {
			background: rgba(0, 0, 0, 0.2);
		}
	}

	h2 {
		font-size: 32px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin: 20px 0 60px 0;
		color: #161616;
	}

	.all-designs__categories {
		list-style-type: none;
		padding-left: 0;
		
		li {
			display: inline-block;
			padding-right: 10px;
			margin-right: 6px;
			border-right: 1px solid #161616;
		}

		li:last-child {
			border-right: none;
			padding-right: 0;
			margin-right: 0;
		}

		li a {
			text-decoration: none;
			font-size: 14px;
			color: #161616;
		}

		li a.active-category {
			font-weight: bold;
		}
	}

	.all-designs__designs {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 25px;
		margin: 40px 0;
	}

	.all-designs__design {
		position: relative;
		cursor: pointer;

		img {
			width: 100%;
			height: auto;
		}

		div {
			align-items: center;
			background: rgba(22, 22, 22, 0.7);
			color: #fff;
			display: flex;
			opacity: 0;
			font-size: 15px;
			font-weight: 500;
			letter-spacing: 2px;
			transition: opacity 0.3s;
			justify-content: center;
			height: 100%;
			padding: 20px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		&:hover div {
			opacity: 1;
		}
	}

	.all-designs__back {
		text-align: center;
		margin-top: 40px;
		
		a {
			font-size: 14px;
			color: #898686;
			text-decoration: underline !important;
		}
	}

	@media (max-width: 900px) {
		padding: 50px 15px;

		.all-designs__designs {
			grid-template-columns: 1fr 1fr;
			grid-gap: 15px;
		}

		.all-designs__close {
			top: 25px;
			right: 15px;
		}

		h2 {
			font-size: 18px;
			text-align: left;
			margin: 20px 0 20px 0;
		}
	}
}