.breadcrumbs {
	margin-bottom: 0;

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;

		&:not(:last-child)::after {
			content: '/';
			display: inline-block;
			padding: 0 10px;
		}
	}

	li, a {
		font-size: 14px;
		text-decoration: none;
	}

	a:hover {
		color: #4b9e84;
	}

	@media(max-width: 900px) {
		margin: 0;

		&:not(.breadcrumbs--collection) {
			padding: 15px 25px 15px 25px;
		}

		ul {
			margin: 0;
		}
	}
}