#shopify-section-collection--sidebar {
	z-index: 31;
}

.collection--sidebar {
	display: block;
	width: 248px;
	margin-right: 70px;

	.collection--sidebar--close {
		display: none;
	}
	
	.sidebar--block {
		margin-bottom: 40px;
	}
	
	.sidebar--heading {
		margin-top: 0;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #EAEAEA;
		font-size: 16px;
		letter-spacing: 0.5px;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	.sidebar--heading--no-border {
		border-bottom: none;
		padding-bottom: 0;
	}
	
	.sidebar--heading--designs {
		display: flex;
		justify-content: space-between;
	}
	
	.sidebar--heading--designs a {
		font-size: 14px;
		font-weight: normal;
		color: #898686;
		text-decoration: underline;
		text-transform: none;
	}

	.sidebar--designs .toggle--contents > div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 15px;

		img {
			width: 100%;
			height: auto;
		}

		.sidebar-designs__design {
			cursor: pointer;
		}

		.sidebar-designs__design--active {
			border: 1px solid #353434;
			padding: 3px;
		}
	}
	
	.sidebar--links--block {
		padding-bottom: 20px;
		padding-left: 0;
		border-bottom: 1px solid #EAEAEA;

		&, ul {
			list-style-type: none;
		}

		ul {
			padding-left: 15px;
			a { color: #898686; }
		}

		a {
			display: block;
			font-weight: 400;
			text-decoration: none;

			&:hover,
			&:active {
				color: #4b9e84;
			}
			
			&.sidebar-link--active {
				font-weight: bold;
			}
		}
	}
	
	.toggles--section .toggle--heading {
		font-weight: normal;
		font-size: 14px;
		text-transform: none;
		letter-spacing: initial;
	}

	.sidebar--actions {
		display: none;

		a {
			display: block;
			width: calc(50% - 10px);
			padding: 15px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			line-height: 16px;
			text-align: center;
			letter-spacing: 1.5px;
		}

		a.clear-filters {
			border: 1px solid #898686;
			color: #898686;
			background: transparent;
		}

		a:first-child {
			margin-right: 10px;
		}

		a:last-child {
			margin-left: 10px;
		}
	}

	@media (max-width: 900px) {
		display: none;
		position: fixed;
		left: 0;
		top: 105px;
		width: 100vw;
		height: calc(100vh - 105px);
		min-height: 400px;
		background: #FFFFFF;
		z-index: 30;
		padding: 65px 20px;
		overflow: auto;
		align-items: center;
		justify-content: center;

		&.open {
			display: block;
		}

		.collection--sidebar--close {
			display: block;
			top: 25px;
			right: 15px;
			background: rgba(0, 0, 0, 0.05);
			border-radius: 30px;
			cursor: pointer;
			padding: 13px 17px 10px 17px;
			position: absolute;
	
			svg {
				width: 14px;
				height: 14px;
			}
	
			svg g {
				stroke-width: 4;
			}
	
			&:hover {
				background: rgba(0, 0, 0, 0.2);
			}
		}

		.toggle--item {
			.toggle--heading {
				font-weight: bold;
			}

			.toggle--activation svg.icon {
				display: none;
			}

			.toggle--contents {
				display: block !important;
			}
		}

		.sidebar--actions {
			display: flex;
		}

		.sidebar--block--designs,
		.sidebar--block--collections,
		.sidebar--block--shop {
			display: none !important;
		}
	}
}

.collection--sidebar--mobile {
	display: none;
	margin-bottom: 20px;

	select {
		-webkit-appearance: none;
    -moz-appearance: none;
		appearance: none;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #898686;
		background: url(triangle.svg) no-repeat;
		background-position: 95%;
		background-size: 11px 8px;
    min-width: 135px;
    line-height: 28px;
		padding: 5px 15px;
		font-size: 14px;
		width: calc(100% - 56px);

		&:focus {
			outline: none;
		}
		
		&::-ms-expand {
			display: none;
		}
	}

	.show-mobile-filters {
		display: block;
		padding: 10px;
		border: 1px solid #898686;
		border-radius: 4px;
		margin-left: 15px;
		line-height: 0;
	}

	@media (max-width: 900px) {
		display: flex;
		padding: 10px 0;
	}
}