.empty-collection {
	max-width: 358px;
	margin: 200px auto;
	text-align: center;
	display: none;

	h3 {
		color: #161616;
		font-weight: bold;
		font-size: 32px;
		margin-bottom: 10px;
	}

	p {
		font-size: 24px;
		margin-bottom: 35px;
	}

	a {
		background: #161616;
		color: #fff;
		padding: 10px 30px 9px 30px;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration: none;
		display: inline-block;
	}

	&.empty-collection--visible {
		display: block;
	}
}