.newsletter--popup {
	transition: opacity 600ms ease 0s;
	top: 0;

	.js--popup {
		position: relative;
	}

	.newsletter-form {
		display: flex;
		width: 95%;
	}

	.close--popup {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 24px;
		height: 24px;
		margin-top: 0;
	}

	.close--popup svg g {
		stroke: #161616;
	}

	.close--popup:hover svg g {
		stroke: #979797;
	}

	.js--popup--input {
		width: calc(100% - 125px);
		padding: 0 10px;
	}

	.section--newsletter--button {
		width: 125px;
    color: #fff;
    font-family: rubik, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
	}

	.message {
		margin-top: 17px;
		width: 100%;
	}
}