.product-listing {
	img {
		width: 100%;
		height: auto;
	}

	h5,
	h6 {
		font-size: 16px;
		color: #161616;
	}

	h5,
	h6,
	.product-listing__see-more {
		margin: 0;
		line-height: 20px;
	}

	h5 {
		font-weight: bold;
	}

	.product-listing__content {
		margin-top: 8px;
	}

	.product-listing__see-more {
		font-size: 14px;
		color: #898686;
		text-decoration: underline;
	}

	.product-listing__content .product-listing__colors a {
		width: 16px;
		height: 16px;
		border: 1px solid #d5d5d5;
		margin-bottom: 7px;
	}

	.product-listing__image {
		position: relative;
		transition: opacity 0.5s;

		&.product-listing__image--swapping {
			opacity: 0.3;
		}

		.quick-add,
		.quick-add__sizes {
			display: none;
			position: absolute;
			background: #fff;
			padding: 5px;
			left: 10px;
			bottom: 10px;
			width: calc(100% - 20px);
			font-size: 14px;
		}

		.quick-add {
			padding: 14px;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: underline;
			letter-spacing: 1px;
			line-height: 10px;
		}

		&:hover .quick-add {
			display: block;
		}

		.quick-add__sizes {
			list-style: none;
			margin-bottom: 0;
		}

		.quick-add__sizes .quick-add__size {
			display: block;
			padding: 10px;
			text-decoration: none;
			line-height: 10px;
			min-width: 32px;
		}

		.quick-add__sizes .quick-add__size:hover,
		.quick-add__sizes .quick-add__size:active {
			background: #EAEAEA;
		}

		.quick-add__sizes li:last-child a {
			margin-right: 0;
		}

		.quick-add__sizes.quick-add__sizes--active {
			display: flex;
			flex-wrap: wrap;
		}
	}
}