.product-listing {
	img {
		width: 100%;
		height: auto;
	}

	h5,
	h6 {
		font-size: 16px;
		color: #161616;
	}

	h5,
	h6,
	.product-listing__see-more {
		margin: 0;
		line-height: 20px;
	}

	h5 {
		font-weight: bold;
	}

	.product-listing__content {
		margin-top: 8px;
	}

	.product-listing__see-more {
		font-size: 14px;
		color: #898686;
		text-decoration: underline;
	}

	.product-listing__content .product-listing__colors a {
		width: 16px;
		height: 16px;
		border: 1px solid #d5d5d5;
		margin-bottom: 7px;
	}

	.product-listing__image {
		transition: opacity 0.5s;

		&.product-listing__image--swapping {
			opacity: 0.3;
		}
	}
}