.product-designs-container {
	.product-designs__loading {
		margin: 50px 50px 80px 50px;
	}

	.product-designs__loaded {
		display: none;
	}

	.variant--selector--bar {
		margin-bottom: 0;
	}

	.selector--heading--right,
	.selector--heading--left,
	.selector--heading--left a,
	.selector--heading--right a {
		color: #161616;
		font-size: 14px;
		font-weight: normal;
		text-decoration: none;
	}

	.selector--heading--right a {
		color: #898686;
		text-decoration: underline !important;
	}

	&.product-designs--loaded {
		.product-designs__loaded {
			display: block;
		}

		.product-designs__loading {
			display: none;
		}
	}

	.product-designs .glide__track {
		margin: 0 -5px;
	}

	.product-designs .glide__slides {
		margin: 0;
	}

	.product-designs .glide__slide {
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		.product-designs__design {
			padding: 3px;
			margin: 5px;

			img {
				width: 48px;
				height: 48px;
			}
		}

		.product-designs__design--active {
			border: 1px solid #353434;
		}
	}

	.product-designs .glide__arrow--left,
	.product-designs .glide__arrow--right {
		top: 50%;
	}

	.product-designs .glide__arrow--left {
		left: -60px;
	}

	.product-designs .glide__arrow--right {
		right: -60px;
	}

	@media (max-width: 900px) {
		.product-designs__loading svg {
			display: block;
			margin: 0 auto;
		}

		.product-designs .glide__arrow--left svg,
		.product-designs .glide__arrow--right svg {
			height: 15px;
			width: 15px;
		}

		.product-designs .glide__arrow--left {
			left: -33px;
		}

		.product-designs .glide__arrow--right {
			right: -33px;
		}
	}
}