.product-design {
	display: flex;
	margin-bottom: 40px;

	> span {
		display: none;
	}

	&.product-design--not-found,
	&.product-design--not-found > span {
		display: block;
	}

	&.product-design--not-found .product-design__content {
		padding-left: 0;
	}

	.product-design__image {
		width: 33.3333333%;
		padding-right: 20px;
		
		img {
			width: 100%;
			height: auto; 
		};
	}

	.product-design__content {
		width: 66.6666666%;
		padding-left: 10px;

		h4 {
			color: #898686;
			font-size: 24px;
			font-weight: normal;
			margin-bottom: 20px;
		}

		h5, h6 {
			font-size: 16px;
			font-weight: bold;
			color: #161616;
			margin: 0;
		}

		h6 {
			font-weight: normal;
		}
	}

	@media (max-width: 900px) {
		flex-wrap: wrap;

		.product-design__content,
		.product-design__image {
			text-align: center;
			width: 100%;
		}

		.product-design__content {
			order: 1;
			
			h4 {
				margin-top: 0;
				margin-bottom: 10px;
			}
		}

		.product-design__image {
			order: 2;
			max-width: 120px;
			margin: 20px auto 0 auto;
			padding: 0;
		}
	}
}