.related-products-container {
	margin-bottom: 90px;

	h2 {
		font-weight: bold;
		font-size: 32px;
		color: #161616;
		margin-bottom: 30px;
		text-transform: uppercase;
		text-align: center;
	}

	.related-products {}

	@media (max-width: 960px) {
		padding: 0 25px;
	}
}