.related-products-container {
	margin: 80px 0;

	h2 {
		font-weight: bold;
		font-size: 32px;
		color: #161616;
		margin-bottom: 20px;
		text-transform: uppercase;
		text-align: center;
	}

	.related-products {}
}