/*================  Site Header  ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

#shopify-section-header {
  position: relative;
  z-index: 2;
}

.menu-button.w-nav-button {
  &.w--open {
    right: 0;
    top: 0;
    position: absolute;
    z-index: 11;
    background: #fff;
    height: 60px;
    padding: 22px 18px 18px 18px;
  }

  .nav--menu--icon svg {
    display: none;
    width: 18px;
    height: 18px;
    overflow: visible;
  }

  .nav--menu--icon svg g {
    stroke-width: 4;
  }

  &.w--open .nav--menu--icon svg {
    display: block;
  }

  &.w--open .nav--menu--icon::before {
    display: none;
  }
}

.nav--menu--mobile.w-nav-menu.w--nav-menu-open {
  background: #fff;
  height: calc(100vh - 101px);
  overflow: auto;

  .mobile--dropdown--navigation {
    height: auto;
    padding-bottom: 40px;
  }
}

.nav--announcement > div {
  font-weight: normal;
  font-size: 14px;
}