.slider--section {
	height: auto;
	min-height: 250px;

	.glide__slide {
		height: auto;
		min-height: 250px;
	}

	.slider--wrapper {
		padding: 0 54px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		height: 100%;
	}

	.slider--content {
		max-width: 430px;
		margin-right: 50px;

		.slider--heading--main {
			font-size: 48px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.slider--heading--text {
			font-size: 24px;
		}

		.slider--button--main {
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	.slider--image--wrapper {
		min-width: 0;
		width: 50%;
		max-width: 600px;
	}

	.slider--image {
		min-width: 0;
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.slider--position--left {
		.slider--image--wrapper {
			order: 1;
		}

		.slider--content {
			order: 2;
			margin-left: 50px;
		}
	}

	.slider--position--none,
	.slider--position--fill {
		.slider--content {
			max-width: 485px;
			margin: 0;
		}

		.slider--content,
		.slider--heading--main,
		.slider--heading--text {
			text-align: center;
		}
	}

	.slider--position--fill {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	@media (max-width: 960px) {
		.slider--content {
			.slider--heading--main {
				font-size: 28px;
			}
	
			.slider--heading--text {
				margin-top: 8px;
				font-size: 16px;
			}
		}
	}

	@media (max-width: 800px) {
		.slider--wrapper {
			padding: 0;
			display: block;
		}

		.slider--position--none .slider--content,
		.slider--position--fill .slider--content,
		.slider--content {
			width: 100%;
			margin: 0 auto;
			padding: 50px 5vw 5px 5vw;
			text-align: center;
			margin-bottom: -25px;
		}

		.slider--position--none .slider--content,
		.slider--position--fill .slider--content {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			padding: 0 5vw 0 5vw;

			.slider--heading--main {
				margin-top: 0;
			}
		}

		.slider--position--left {
			.slider--content {
				margin-left: auto;
			}
		}

		.slider--image--wrapper {
			margin-top: -10px;
			width: 100%;

			max-width: 600px;
			margin: 0 auto;
		}

		.slider--button--main {
			margin-top: 5px;
		}
	}
}