<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script> 




  {% include 'product-api'%}


  <div class="product--container">
    <div data-animation="slide" data-duration="500" data-infinite="1" class="mobile--slider w-slider">
      <div class="w-slider-mask">
        <div class="mobile--slider--slide w-slide">
          <div class="mobile--pocket--block">
         
          <img src="images/lagrossevie_thumbnail_grande.png" width="60" height="60" >
          
          </div>
        </div>
        <div class="w-slide"></div>
      </div>
      <div class="mobile--slider--arrows w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="mobile--slider--arrows w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
    <div class="breadcrumbs"><a href="#" class="link">{{product.type}} / {{product.collection}} /</a></div>
    <div class="product--block">
      <div class="product--block--left images--block">
        <div class="product--image--smaller"><a href="#" class="product--image--smaller--item w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"></a><a href="#" class="product--image--smaller--item w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"></a><a href="#" class="product--image--smaller--item w-inline-block"><img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg"></a></div>
        <div class="product--image--large">
           <img class=" product--pocket--image--placement--man product-preview"  width="50" height="50"/></div>
      </div>
      <div class="product--block--right">
        <div class="product--variant--image">
        
          <div class="product--variant--image--image">
           <img class=" product--variant--image--image product-preview"  />
          </div>
          <div>
            <h2 class="product--variant--price">C$ {product.id}</h2>
            <div class="product--varaint--name">{{variant.title}}</div>
          </div>
        </div>
        <div class="product--form">
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form">
              <div class="product--form--selector variant--images">
                <div class="variant--selector--bar w-clearfix">
                  <div class="selector--heading--left"><strong>Design:</strong> Random</div>
                  <div class="selector--heading--right">See all</div>

                  
                </div>
            
 <div class="product-thumbnails flex-row flex-center">
    <p class="flex-block text-center">list of products</p>
    <div class="selected-thumb-details"></div>
    
    <div class="thumbnails-container"></div>

              </div>

${product.id}


              <div class="product--form--selector sizing">
                <div class="variant--selector--bar w-clearfix">
                  <div class="selector--heading--left"><strong>Size:</strong> <span class="selector--heading--right nofloat">Size Guide</span></div>
                </div>
                <div class="product--design--selector--grid">
                  <div class="product--size--selector disabled">
                    <h2 class="product--size--selector--text">XS</h2>
                  </div>
                  <div class="product--size--selector">
                    <h2 class="product--size--selector--text">S</h2>
                  </div>
                  <div class="product--size--selector selected">
                    <h2 class="product--size--selector--text">M</h2>
                  </div>
                  <div class="product--size--selector">
                    <h2 class="product--size--selector--text">XL</h2>
                  </div>
                  <div class="product--size--selector">
                    <h2 class="product--size--selector--text">XXL</h2>
                  </div>
                </div>
              </div>
              <div class="product--form--selector sizing">
                <div class="variant--selector--bar w-clearfix">
                  <div class="selector--heading--left"><strong>Shirt Color:</strong> White</div>
                </div>
              </div>
              <div class="product--form--qty">
                <div><strong>Qty:</strong></div><select id="field" name="field" class="product--form--qty--selector w-select"><option value="">Select one...</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select></div><input type="submit" value="ADD TO CART" data-wait="Please wait..." class="product--form--atc w-button"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
