<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script> 

{%- comment -%}
// Product-api: Controls the logic of product variants via JSON and shopify Product Get API
// Product--pocket: is the section for the general pocket products
// Product--normal: is for all other products. 
{%- endcomment -%}

{% section 'product' %}

<br>
<h2 class="text-center" style="display:block;font-weight: 600">ALSO LOOKS GOOD ON</h2>
{% include 'related--products' %}
<br><br>

<div class="section--instagram">
  <h1 style="font-weight:bold" class="section--title--heading bold--caps">SHOP THE LOOK</h1>
  <div id="instagram--lower"> 
    <h4><a style="text-decoration: none;" href="http://instagram.com/pochesetfils"> @Pochesetfils</a> </h4>
    <h4 style="margin-left: 10px; margin-right: 10px;"> | </h4>
    <h4> <a style="text-decoration: none;" href="http://instagram.com/explore/tags/pochesetfils"> #pochesetfils </a></h4>
  </div> 
  <div id="evm_shopify_app"></div>
  <script src="https://www.expertvillagemedia.com/shopbyinstagram_with_tag/shopify/js/embed.js" 
          data-shop-id="poches-development-mica.myshopify.com" 
          data-viewall-id="true"  
          type="text/javascript"
          data-gallery="0"></script>
</div>