<div class="full-page-popup all-designs">
	<a class="all-designs__close">{% include 'icon-close' %}</a>

	<h2>{{ 'general.all_designs.title' | t }}</h2>

	<ul class="all-designs__categories">
		<li><a href="#" class="active-category" data-category="all">All</a></li>
	</ul>

	<div class="all-designs__designs">
	</div>

	<div class="all-designs__back">
		<a href="#">{{ 'general.all_designs.back_to_top' | t }}</a>
	</div>
</div>