
  <div class="page--popup--section" data-ix="page-popupoad">
    <div class="js--popup">
      <div class="js--cart--image"></div>
      <div class="js--cart--details">
        <h5 class="js--popup--heading">Win the entire stock collection!</h5>
        <p class="js--popup--paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. </p>
        <div class="form--block--widen">
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="js--popup--form"><input type="text" class="js--popup--input w-input" maxlength="256" name="email" data-name="Email" placeholder="Enter your email" id="email" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="js--popup--submit w-button"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="close--popup" data-ix="close-news-popup">X Close</div>
  </div>


  