<div class="product--form">
  <div class="w-form-1">
    <form id="email-form" name="email-form" data-name="Email Form">
      <div class="product--form--selector variant--images">
        <div class="variant--selector--bar w-clearfix">
          <div class="selector--heading--left">
            <strong>Designs:</strong> 
            <span class="product--VA--name no-wrap">{{ product.title }}</span>
          </div>
          <div class="selector--heading--right">See all</div>
        </div>
        <div class="product-thumbnails flex-row flex-center">
          <section class="thumb-nav-container">
            <span class="thumb-nav-arrow go-prev">‹</span>
            <span class="thumb-nav-arrow go-next">›</span>
          </section>
          <div class="thumbnails-container"></div>
        </div>

        {%- comment -%}
        - Need to have variant add to cart
        - Need to import product sizes dynamically based on design selected
        - Need to update price dynamically
        - Need to handle shirt color translation dynamically
        - Need to add the toggles for description
        - Need to add related products
        {%- endcomment -%}

        <div class="product--form--selector sizing">
          <div class="variant--selector--bar w-clearfix">
            <div class="selector--heading--left">
              <strong>Size:</strong> 
              <span class="selector--heading--right nofloat"><a href="#" target="_BLANK" class="sizeguide-link">size guide</a></span>
            </div>
          </div>
          <div class="product--design--selector--grid ">
            <div class="product--size--selector">XS</div>
            <div class="product--size--selector">S</div>
            <div class="product--size--selector selected">M</div>
            <div class="product--size--selector">L</div>
            <div class="product--size--selector">XL</div>
            <div class="product--size--selector">XXL</div>
          </div>
        </div>

        <div class="product--form--selector sizing">
          <div class="variant--selector--bar w-clearfix">
            <div class="selector--heading--left">
              <strong>Shirt colour:</strong>
              <span class="current-color"></span>
            </div>
            <br>
            <ul class="colors-container"></ul>
          </div>
        </div>

        <div class="product--form--qty">
          <div><strong>QTY:</strong></div>
          <select id="field" name="field" class="product--form--qty--selector w-select">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <p class="cart-error text-error"></p>

        <input type="submit"
               style="font-weight: bold;"
               value="ADD TO CART" 
               data-wait="Please wait..." 
               class="product--form--atc w-button">
      </div>
    </form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div>
</div>

<style>
  .text-error { text-align: right; }
  .product--form--qty--selector {
    width: 50px;
    border-radius: 7px;
    background-image: 
      linear-gradient(45deg, transparent 50%, gray 50%), 
      linear-gradient(135deg, gray 50%, transparent 50%), 
      linear-gradient(to right, transparent, transparent);
    background-position: 
      calc(100% - 20px) calc(1em + 2px), 
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size: 
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }

  .product--form--qty--selector:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, transparent, transparent);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
</style>

<script>
  (function () {
    window.onload = _ => {
      const navContainer = $('.thumb-nav-container')
      const containerHeight = $('.product-thumbnails').height()

      navContainer.css('top', `${containerHeight/2}px`)
    }
  })()
</script>