{%- comment -%}Set section{%- endcomment -%}

<div class="realted--product--section">
  <h3 class="realted--title">{{section.settings.title}}</h3>
  <div class="related--product--grid--block"></div>
</div>

{%- comment -%}Mobile CSS Overrides {%- endcomment -%}

<style>

  /* Corrects size and postion of pockets on mobile */
  @media (max-width: 796px) and (max-width: 900px) {
    .related--product--pocket {
      width: 50px !important;
      height:50px !important;
      left: -104px;
      top:-50px;
    }
  }

  /* Corrects size and postion of pockets on MiDPI Desktops */
  @media (min-width: 900px) and (max-width: 1400px){
    .related--product--pocket {
      width: 35px !important;
      height:35px !important;
      left: -64px;
      top:-30px;
    }
  }

  /* Corrects size and postion of pockets on HiDPI Desktops */
  @media (min-width: 1400px) {
    .related--product--pocket {
      width: 35px !important;
      height:35px !important;
      left: -84px;
      top:-30px;
    }
  }
</style>


<script>
  (function () {

    const fillRelatedProducts = _ => {
      const handle = '{{ product.handle }}';
      $.getJSON(`${handle}.js`, product => {
        const variants = product.variants
        const relatedContainer = $('.related--product--grid--block')
        let counter = 0
        while (counter < 4) {
          counter ++
          const random  	= Math.floor(Math.random() * variants.length + 1)
          const variant 	= variants[random]
          let urlParams 	= variant.options
          urlParams 		= urlParams.map(param => param = `param=${param}`)
          const randomModel = getRandImg(urlParams, false) || ''
          
                    
          
          const newElement 	= `
            <a href="?gender=${variant.options[0]}&type=${variant.options[2]}"
            class="product--grid--item--four w-inline-block">
            <div class="product--grid--item--image">
            <div class="product--grid--item--variant--overlay random-colored-bg" 
            style="background-image: url('${randomModel}');position:relative;">
            <img src="${product.featured_image}"
            width="25"
            height="25"
            class="product--grid--item--pocket related--product--pocket"
            data-pocket-gender="${variant.options[0]}"
            data-pocket-type="${variant.options[2]}"
			      style="position: absolute; top: 50%; left: 50%;">
            </div>
            </div>
            <h5 class="product--grid--item--title">
            ${ variant.options[0] }'s
            ${ variant.options[1].toLowerCase() }
            ${ variant.options[2] }
            </h5>
            <div>$${ formatCurrency(variant.price) }</div>
            <div class="product--grid--item--link">See more styles</div>
            </a>`
          
          
          if (randomModel) {
            relatedContainer.append(newElement)
          }
          variants.splice(random, 1)
        }
        fillBg()
      })
    }

    $(document).ready(fillRelatedProducts)
  })()
</script>


<script type="text/javascript">
$(document).ready(function () {
  var positionPocket = function($target, gender, type) {
    if(gender == 'Men') {
      $target.css('margin-left', '2%');
      $target.css('margin-top', '-10%');
      if(type == 'Tank-Top') {
      $target.css('margin-left', '3%');
      $target.css('margin-top', '-12%');
      }
    }
    if(gender == 'Women') {
      $target.css('margin-left', '2%');
      $target.css('margin-top', '-13%');
    }
    if(gender == 'Baby') {
      $target.css('margin-left', '0');
      $target.css('margin-top', '0');
    }
    if(gender == 'Kid') {
      $target.css('margin-left', '0');
      $target.css('margin-top', '-5%');
    }
  }
  var gender = window.poches.filters.helper.gup('gender');
  var type = window.poches.filters.helper.gup('type');
  positionPocket($('.product-preview'), gender, type);


  $('.related--product--pocket').each(function () {
    positionPocket($(this), $(this).attr('data-pocket-gender'), $(this).attr('data-pocket-type'));
  });
});
</script>