

  <div class="section--instagram"></div>


{% schema %}
{
  "name": "Instagram  Blocks",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Mosaic Heading"
    }
  ],
  "presets": [
    {
      "name": "Instagram",
      "category": "Elements"
    }
  ]
}
{% endschema %}
