/*================ UTILS ================*/
/*================ Mixins ================*/
/*============================================================================
  Prefix mixin for generating vendor prefixes.
  Based on https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_prefixer.scss

  Usage:
    // Input:
    .element {
      @include prefix(transform, scale(1), ms webkit spec);
    }

    // Output:
    .element {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
==============================================================================*/
/*================ Media Query Mixin ================*/
/*================ Responsive Show/Hide Helper ================*/
/*================ Responsive Text Alignment Helper ================*/
/*================ SETTINGS ================*/
/*================ Color Variables ================*/
/*================ Typography Variables ================*/
/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
==============================================================================*/
/*============================================================================
  Generate breakpoint-specific column widths and push classes
    - Default column widths: $breakpoint-has-widths: ($small, $medium-up);
    - Default is no push classes
    - Will not work if `styles/global/grid.scss` is removed
==============================================================================*/
/*================ Sizing Variables ================*/
/*================ Z-Index ================*/
/*================ SVG ================*/
/*================ VENDOR ================*/
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.glide * {
  box-sizing: inherit; }

.glide__track {
  overflow: hidden; }

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform; }

.glide__slides--dragging {
  user-select: none; }

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none; }

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none; }

.glide--rtl {
  direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  padding: 9px 12px;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }

.glide__arrow:focus {
  outline: none; }

.glide__arrow:hover {
  border-color: white; }

.glide__arrow--left {
  left: 2em; }

.glide__arrow--right {
  right: 2em; }

.glide__arrow--disabled {
  opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }

.glide__bullet:focus {
  outline: none; }

.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5); }

.glide__bullet--active {
  background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

.glide__arrow svg {
  width: 16px;
  height: 32px; }

.glide__arrow svg.icon:not(.icon--full-color) path {
  stroke: #898686;
  fill: none; }

.glide__arrow.glide__arrow--right svg {
  transform: rotate(180deg); }

.glide__bullets {
  bottom: 3em; }
  .glide__bullets .glide__bullet {
    border: 1px solid #898686;
    box-shadow: none;
    background-color: transparent;
    opacity: 1;
    width: 10px;
    height: 10px; }
    .glide__bullets .glide__bullet.glide__bullet--active {
      background-color: #898686; }

/*================ COMMON ================*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*================ Slate specific reset ================*/
*,
*::before,
*::after {
  box-sizing: border-box; }

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

a:focus {
  color: inherit; }

img {
  max-width: 100%; }

/*================ Form element helpers ================*/
form {
  margin: 0; }

@media only screen and (max-width: 989px) {
  input,
  textarea,
  select {
    font-size: 16px; } }

button,
input[type="submit"],
label[for] {
  cursor: pointer; }

optgroup {
  font-weight: 700; }

option {
  color: #000;
  background-color: #fff; }

[tabindex='-1']:focus {
  outline: none; }

/*============================================================================
  Fast Tap
  enables no-delay taps (FastClick-esque) on supporting browsers
==============================================================================*/
a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation; }

/*================ Helper Classes ================*/
.clearfix {
  *zoom: 1; }
  .clearfix::after {
    content: '';
    display: table;
    clear: both; }

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.js-focus-hidden:focus {
  outline: none; }

.label-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
  .no-placeholder .label-hidden {
    position: inherit !important;
    overflow: auto;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0; }

.visually-shown {
  position: inherit !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0; }

.no-js:not(html) {
  display: none; }
  .no-js .no-js:not(html) {
    display: block; }

.no-js .js {
  display: none; }

.supports-no-cookies:not(html) {
  display: none; }
  html.supports-no-cookies .supports-no-cookies:not(html) {
    display: block; }

html.supports-no-cookies .supports-cookies {
  display: none; }

/*============================================================================
  Skip to content button
    - Overrides .visually-hidden when focused
==============================================================================*/
.skip-link:focus {
  position: absolute !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  color: #000;
  background-color: #fff;
  padding: 15px;
  z-index: 10000;
  transition: none; }

/*============================================================================
  Grid
    - Based on CSS Wizardry grid
==============================================================================*/
.grid {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -30px; }
  .grid::after {
    content: '';
    display: table;
    clear: both; }

.grid__item {
  float: left;
  padding-left: 30px;
  width: 100%; }
  .grid__item[class*='--push'] {
    position: relative; }

/*============================================================================
  Reversed grids allow you to structure your source in the opposite
  order to how your rendered layout will appear.
==============================================================================*/
.grid--rev {
  direction: rtl;
  text-align: left; }
  .grid--rev > .grid__item {
    direction: ltr;
    text-align: left;
    float: right; }

/*============================================================================
  Grid Columns
    - Create width classes, prepended by the breakpoint name.
==============================================================================*/
/*================ Grid push classes ================*/
/*================ Clearfix helper on uniform grids ================*/
/*================ Build Base Grid Classes ================*/
/** Whole */
.one-whole {
  width: 100%; }

/* Halves */
.one-half {
  width: 50%; }

/* Thirds */
.one-third {
  width: 33.33333%; }

.two-thirds {
  width: 66.66667%; }

/* Quarters */
.one-quarter {
  width: 25%; }

.two-quarters {
  width: 50%; }

.three-quarters {
  width: 75%; }

/* Fifths */
.one-fifth {
  width: 20%; }

.two-fifths {
  width: 40%; }

.three-fifths {
  width: 60%; }

.four-fifths {
  width: 80%; }

/* Sixths */
.one-sixth {
  width: 16.66667%; }

.two-sixths {
  width: 33.33333%; }

.three-sixths {
  width: 50%; }

.four-sixths {
  width: 66.66667%; }

.five-sixths {
  width: 83.33333%; }

/* Eighths */
.one-eighth {
  width: 12.5%; }

.two-eighths {
  width: 25%; }

.three-eighths {
  width: 37.5%; }

.four-eighths {
  width: 50%; }

.five-eighths {
  width: 62.5%; }

.six-eighths {
  width: 75%; }

.seven-eighths {
  width: 87.5%; }

/* Tenths */
.one-tenth {
  width: 10%; }

.two-tenths {
  width: 20%; }

.three-tenths {
  width: 30%; }

.four-tenths {
  width: 40%; }

.five-tenths {
  width: 50%; }

.six-tenths {
  width: 60%; }

.seven-tenths {
  width: 70%; }

.eight-tenths {
  width: 80%; }

.nine-tenths {
  width: 90%; }

/* Twelfths */
.one-twelfth {
  width: 8.33333%; }

.two-twelfths {
  width: 16.66667%; }

.three-twelfths {
  width: 25%; }

.four-twelfths {
  width: 33.33333%; }

.five-twelfths {
  width: 41.66667%; }

.six-twelfths {
  width: 50%; }

.seven-twelfths {
  width: 58.33333%; }

.eight-twelfths {
  width: 66.66667%; }

.nine-twelfths {
  width: 75%; }

.ten-twelfths {
  width: 83.33333%; }

.eleven-twelfths {
  width: 91.66667%; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

/*================ Build Responsive Grid Classes ================*/
@media only screen and (max-width: 749px) {
  /** Whole */
  .small--one-whole {
    width: 100%; }
  /* Halves */
  .small--one-half {
    width: 50%; }
  /* Thirds */
  .small--one-third {
    width: 33.33333%; }
  .small--two-thirds {
    width: 66.66667%; }
  /* Quarters */
  .small--one-quarter {
    width: 25%; }
  .small--two-quarters {
    width: 50%; }
  .small--three-quarters {
    width: 75%; }
  /* Fifths */
  .small--one-fifth {
    width: 20%; }
  .small--two-fifths {
    width: 40%; }
  .small--three-fifths {
    width: 60%; }
  .small--four-fifths {
    width: 80%; }
  /* Sixths */
  .small--one-sixth {
    width: 16.66667%; }
  .small--two-sixths {
    width: 33.33333%; }
  .small--three-sixths {
    width: 50%; }
  .small--four-sixths {
    width: 66.66667%; }
  .small--five-sixths {
    width: 83.33333%; }
  /* Eighths */
  .small--one-eighth {
    width: 12.5%; }
  .small--two-eighths {
    width: 25%; }
  .small--three-eighths {
    width: 37.5%; }
  .small--four-eighths {
    width: 50%; }
  .small--five-eighths {
    width: 62.5%; }
  .small--six-eighths {
    width: 75%; }
  .small--seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .small--one-tenth {
    width: 10%; }
  .small--two-tenths {
    width: 20%; }
  .small--three-tenths {
    width: 30%; }
  .small--four-tenths {
    width: 40%; }
  .small--five-tenths {
    width: 50%; }
  .small--six-tenths {
    width: 60%; }
  .small--seven-tenths {
    width: 70%; }
  .small--eight-tenths {
    width: 80%; }
  .small--nine-tenths {
    width: 90%; }
  /* Twelfths */
  .small--one-twelfth {
    width: 8.33333%; }
  .small--two-twelfths {
    width: 16.66667%; }
  .small--three-twelfths {
    width: 25%; }
  .small--four-twelfths {
    width: 33.33333%; }
  .small--five-twelfths {
    width: 41.66667%; }
  .small--six-twelfths {
    width: 50%; }
  .small--seven-twelfths {
    width: 58.33333%; }
  .small--eight-twelfths {
    width: 66.66667%; }
  .small--nine-twelfths {
    width: 75%; }
  .small--ten-twelfths {
    width: 83.33333%; }
  .small--eleven-twelfths {
    width: 91.66667%; }
  .grid--uniform .small--one-half:nth-child(2n+1),
  .grid--uniform .small--one-third:nth-child(3n+1),
  .grid--uniform .small--one-quarter:nth-child(4n+1),
  .grid--uniform .small--one-fifth:nth-child(5n+1),
  .grid--uniform .small--one-sixth:nth-child(6n+1),
  .grid--uniform .small--two-sixths:nth-child(3n+1),
  .grid--uniform .small--three-sixths:nth-child(2n+1),
  .grid--uniform .small--one-eighth:nth-child(8n+1),
  .grid--uniform .small--two-eighths:nth-child(4n+1),
  .grid--uniform .small--four-eighths:nth-child(2n+1),
  .grid--uniform .small--five-tenths:nth-child(2n+1),
  .grid--uniform .small--one-twelfth:nth-child(12n+1),
  .grid--uniform .small--two-twelfths:nth-child(6n+1),
  .grid--uniform .small--three-twelfths:nth-child(4n+1),
  .grid--uniform .small--four-twelfths:nth-child(3n+1),
  .grid--uniform .small--six-twelfths:nth-child(2n+1) {
    clear: both; }
  .small--show {
    display: block !important; }
  .small--hide {
    display: none !important; }
  .small--text-left {
    text-align: left !important; }
  .small--text-right {
    text-align: right !important; }
  .small--text-center {
    text-align: center !important; } }

@media only screen and (min-width: 750px) {
  /** Whole */
  .medium-up--one-whole {
    width: 100%; }
  /* Halves */
  .medium-up--one-half {
    width: 50%; }
  /* Thirds */
  .medium-up--one-third {
    width: 33.33333%; }
  .medium-up--two-thirds {
    width: 66.66667%; }
  /* Quarters */
  .medium-up--one-quarter {
    width: 25%; }
  .medium-up--two-quarters {
    width: 50%; }
  .medium-up--three-quarters {
    width: 75%; }
  /* Fifths */
  .medium-up--one-fifth {
    width: 20%; }
  .medium-up--two-fifths {
    width: 40%; }
  .medium-up--three-fifths {
    width: 60%; }
  .medium-up--four-fifths {
    width: 80%; }
  /* Sixths */
  .medium-up--one-sixth {
    width: 16.66667%; }
  .medium-up--two-sixths {
    width: 33.33333%; }
  .medium-up--three-sixths {
    width: 50%; }
  .medium-up--four-sixths {
    width: 66.66667%; }
  .medium-up--five-sixths {
    width: 83.33333%; }
  /* Eighths */
  .medium-up--one-eighth {
    width: 12.5%; }
  .medium-up--two-eighths {
    width: 25%; }
  .medium-up--three-eighths {
    width: 37.5%; }
  .medium-up--four-eighths {
    width: 50%; }
  .medium-up--five-eighths {
    width: 62.5%; }
  .medium-up--six-eighths {
    width: 75%; }
  .medium-up--seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .medium-up--one-tenth {
    width: 10%; }
  .medium-up--two-tenths {
    width: 20%; }
  .medium-up--three-tenths {
    width: 30%; }
  .medium-up--four-tenths {
    width: 40%; }
  .medium-up--five-tenths {
    width: 50%; }
  .medium-up--six-tenths {
    width: 60%; }
  .medium-up--seven-tenths {
    width: 70%; }
  .medium-up--eight-tenths {
    width: 80%; }
  .medium-up--nine-tenths {
    width: 90%; }
  /* Twelfths */
  .medium-up--one-twelfth {
    width: 8.33333%; }
  .medium-up--two-twelfths {
    width: 16.66667%; }
  .medium-up--three-twelfths {
    width: 25%; }
  .medium-up--four-twelfths {
    width: 33.33333%; }
  .medium-up--five-twelfths {
    width: 41.66667%; }
  .medium-up--six-twelfths {
    width: 50%; }
  .medium-up--seven-twelfths {
    width: 58.33333%; }
  .medium-up--eight-twelfths {
    width: 66.66667%; }
  .medium-up--nine-twelfths {
    width: 75%; }
  .medium-up--ten-twelfths {
    width: 83.33333%; }
  .medium-up--eleven-twelfths {
    width: 91.66667%; }
  .grid--uniform .medium-up--one-half:nth-child(2n+1),
  .grid--uniform .medium-up--one-third:nth-child(3n+1),
  .grid--uniform .medium-up--one-quarter:nth-child(4n+1),
  .grid--uniform .medium-up--one-fifth:nth-child(5n+1),
  .grid--uniform .medium-up--one-sixth:nth-child(6n+1),
  .grid--uniform .medium-up--two-sixths:nth-child(3n+1),
  .grid--uniform .medium-up--three-sixths:nth-child(2n+1),
  .grid--uniform .medium-up--one-eighth:nth-child(8n+1),
  .grid--uniform .medium-up--two-eighths:nth-child(4n+1),
  .grid--uniform .medium-up--four-eighths:nth-child(2n+1),
  .grid--uniform .medium-up--five-tenths:nth-child(2n+1),
  .grid--uniform .medium-up--one-twelfth:nth-child(12n+1),
  .grid--uniform .medium-up--two-twelfths:nth-child(6n+1),
  .grid--uniform .medium-up--three-twelfths:nth-child(4n+1),
  .grid--uniform .medium-up--four-twelfths:nth-child(3n+1),
  .grid--uniform .medium-up--six-twelfths:nth-child(2n+1) {
    clear: both; }
  .medium-up--show {
    display: block !important; }
  .medium-up--hide {
    display: none !important; }
  .medium-up--text-left {
    text-align: left !important; }
  .medium-up--text-right {
    text-align: right !important; }
  .medium-up--text-center {
    text-align: center !important; } }

/*================ Build Grid Push Classes ================*/
/*================ General layout styles ================*/
body,
html {
  background-color: #fff; }

.page-width {
  *zoom: 1;
  max-width: 1180px;
  padding: 0 30px;
  margin: 0 auto; }
  .page-width::after {
    content: '';
    display: table;
    clear: both; }

body.no-scroll {
  overflow: hidden; }

@media only screen and (max-width: 989px) {
  body.menu-open {
    overflow: hidden; } }

/*================ Icons ================*/
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor; }
  .no-svg .icon {
    display: none; }

.icon--wide {
  width: 40px; }

svg.icon:not(.icon--full-color) circle,
svg.icon:not(.icon--full-color) ellipse,
svg.icon:not(.icon--full-color) g,
svg.icon:not(.icon--full-color) line,
svg.icon:not(.icon--full-color) path,
svg.icon:not(.icon--full-color) polygon,
svg.icon:not(.icon--full-color) polyline,
svg.icon:not(.icon--full-color) rect,
symbol.icon:not(.icon--full-color) circle,
symbol.icon:not(.icon--full-color) ellipse,
symbol.icon:not(.icon--full-color) g,
symbol.icon:not(.icon--full-color) line,
symbol.icon:not(.icon--full-color) path,
symbol.icon:not(.icon--full-color) polygon,
symbol.icon:not(.icon--full-color) polyline,
symbol.icon:not(.icon--full-color) rect {
  fill: inherit;
  stroke: inherit; }

/*============================================================================
  A generic way to visually hide content while
  remaining accessible to screen readers (h5bp.com)
==============================================================================*/
.icon-fallback-text {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
  .no-svg .icon-fallback-text {
    position: static !important;
    overflow: auto;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0; }

/*================ Payment Icons ================*/
.payment-icons {
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  cursor: default; }

/*================ Shopify icon on password page ================*/
.icon-shopify-logo {
  width: 82.28571px;
  height: 24px; }

/*================ Rich Text Editor ================*/
.rte img {
  height: auto; }

.rte table {
  table-layout: fixed; }

.rte ul,
.rte ol {
  margin: 0 0 15px 30px; }

.rte ul {
  list-style: disc outside; }
  .rte ul ul {
    list-style: circle outside; }
    .rte ul ul ul {
      list-style: square outside; }

.text-center.rte ul,
.text-center.rte ol,
.text-center .rte ul,
.text-center .rte ol {
  margin-left: 0;
  list-style-position: inside; }

.rte-table {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.rte__video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto; }
  .rte__video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.rte__table-wrapper {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

/*============================================================================
  Responsive tables, defined with .responsive-table on table element.
==============================================================================*/
@media only screen and (max-width: 749px) {
  .responsive-table {
    width: 100%; }
    .responsive-table thead {
      display: none; }
    .responsive-table tr {
      display: block; }
    .responsive-table tr,
    .responsive-table td {
      float: left;
      clear: both;
      width: 100%; }
    .responsive-table th,
    .responsive-table td {
      display: block;
      text-align: right;
      padding: 15px;
      margin: 0; }
    .responsive-table td::before {
      content: attr(data-label);
      float: left;
      text-align: center;
      padding-right: 10px; }
  .responsive-table-row + .responsive-table-row,
  tfoot > .responsive-table-row:first-child {
    position: relative;
    margin-top: 10px;
    padding-top: 15px; }
    .responsive-table-row + .responsive-table-row::after,
    tfoot > .responsive-table-row:first-child::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      border-bottom: 1px solid #f6f6f6; } }

/*================ Links & Buttons ================*/
.btn {
  -moz-user-select: "none";
  -ms-user-select: "none";
  -webkit-user-select: "none";
  user-select: "none";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 0; }

/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: 1px solid #f6f6f6;
  border-radius: 0;
  max-width: 100%; }
  input[disabled],
  textarea[disabled],
  select[disabled] {
    cursor: default;
    background-color: #000;
    border-color: #000; }

textarea {
  min-height: 100px; }

/*================ Custom select style ================*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: transparent;
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  /*================ Hide the svg arrow in IE9 ================*/ }
  .ie9 select {
    padding-right: 10px;
    background-image: none; }

select::-ms-expand {
  display: none; }

/*================ Error styles ================*/
input.input-error,
select.input-error,
textarea.input-error {
  border-color: #000;
  background-color: #000;
  color: #000; }

.placeholder-svg {
  display: block;
  fill: rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.placeholder-svg--small {
  width: 480px; }

.placeholder-noblocks {
  padding: 40px;
  text-align: center; }

.placeholder-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .placeholder-background .icon {
    border: 0; }

/*================ MODULES ================*/
/*================  Site Header  ================*/
.site-logo {
  display: block; }
  .site-logo img {
    display: block;
    width: 100%; }

#shopify-section-header {
  position: relative;
  z-index: 2; }

.menu-button.w-nav-button.w--open {
  right: 0;
  top: 0;
  position: absolute;
  z-index: 11;
  background: #fff;
  height: 60px;
  padding: 22px 18px 18px 18px; }

.menu-button.w-nav-button .nav--menu--icon svg {
  display: none;
  width: 18px;
  height: 18px;
  overflow: visible; }

.menu-button.w-nav-button .nav--menu--icon svg g {
  stroke-width: 4; }

.menu-button.w-nav-button.w--open .nav--menu--icon svg {
  display: block; }

.menu-button.w-nav-button.w--open .nav--menu--icon::before {
  display: none; }

.nav--menu--mobile.w-nav-menu.w--nav-menu-open {
  background: #fff;
  height: calc(100vh - 101px);
  overflow: auto; }
  .nav--menu--mobile.w-nav-menu.w--nav-menu-open .mobile--dropdown--navigation {
    height: auto;
    padding-bottom: 40px; }

.slider--section {
  height: auto;
  min-height: 250px; }
  .slider--section .glide__slide {
    height: auto;
    min-height: 250px; }
  .slider--section .slider--wrapper {
    padding: 0 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
  .slider--section .slider--content {
    max-width: 430px;
    margin-right: 50px; }
    .slider--section .slider--content .slider--heading--main {
      font-size: 48px;
      font-weight: bold;
      text-transform: uppercase; }
    .slider--section .slider--content .slider--heading--text {
      font-size: 24px; }
    .slider--section .slider--content .slider--button--main {
      text-transform: uppercase;
      font-weight: bold; }
  .slider--section .slider--image--wrapper {
    min-width: 0;
    width: 50%;
    max-width: 600px; }
  .slider--section .slider--image {
    min-width: 0;
    width: 100%;
    height: auto;
    object-fit: contain; }
  .slider--section .slider--position--left .slider--image--wrapper {
    order: 1; }
  .slider--section .slider--position--left .slider--content {
    order: 2;
    margin-left: 50px; }
  .slider--section .slider--position--none .slider--content,
  .slider--section .slider--position--fill .slider--content {
    max-width: 485px;
    margin: 0; }
  .slider--section .slider--position--none .slider--content,
  .slider--section .slider--position--none .slider--heading--main,
  .slider--section .slider--position--none .slider--heading--text,
  .slider--section .slider--position--fill .slider--content,
  .slider--section .slider--position--fill .slider--heading--main,
  .slider--section .slider--position--fill .slider--heading--text {
    text-align: center; }
  .slider--section .slider--position--fill {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  @media (max-width: 960px) {
    .slider--section .slider--content .slider--heading--main {
      font-size: 28px; }
    .slider--section .slider--content .slider--heading--text {
      margin-top: 8px;
      font-size: 16px; } }
  @media (max-width: 800px) {
    .slider--section .slider--wrapper {
      padding: 0;
      display: block; }
    .slider--section .slider--position--none .slider--content,
    .slider--section .slider--position--fill .slider--content,
    .slider--section .slider--content {
      width: 100%;
      margin: 0 auto;
      padding: 50px 5vw 5px 5vw;
      text-align: center;
      margin-bottom: -25px; }
    .slider--section .slider--position--none .slider--content,
    .slider--section .slider--position--fill .slider--content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 5vw 0 5vw; }
      .slider--section .slider--position--none .slider--content .slider--heading--main,
      .slider--section .slider--position--fill .slider--content .slider--heading--main {
        margin-top: 0; }
    .slider--section .slider--position--left .slider--content {
      margin-left: auto; }
    .slider--section .slider--image--wrapper {
      margin-top: -10px;
      width: 100%;
      max-width: 600px;
      margin: 0 auto; }
    .slider--section .slider--button--main {
      margin-top: 5px; } }

/*================ Giftcard Template ================*/
.giftcard-qr img {
  display: block;
  margin: 0 auto; }

.apple-wallet-image {
  display: block;
  margin: 0 auto; }

/*================ Print Giftcard Styles ================*/
@media print {
  @page {
    margin: 0.5cm; }
  p {
    orphans: 3;
    widows: 3; }
  html,
  body {
    background-color: #fff;
    color: #000; }
  .print-giftcard,
  .apple-wallet {
    display: none; } }

.newsletter-form {
  display: flex;
  width: 95%; }
  .newsletter-form .newsletter--input {
    width: calc(100% - 125px);
    padding: 0 10px;
    border: 1px solid #898686;
    color: #161616;
    font-size: 14px;
    line-height: 40px; }
  .newsletter-form .newsletter--button {
    border: 0;
    border-radius: 0;
    background: #161616;
    color: #fff;
    font-family: rubik, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    width: 125px; }

.newsletter--popup {
  transition: opacity 600ms ease 0s;
  top: 0; }
  .newsletter--popup .js--popup {
    position: relative; }
  .newsletter--popup .close--popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    margin-top: 0; }
  .newsletter--popup .close--popup svg g {
    stroke: #161616; }
  .newsletter--popup .close--popup:hover svg g {
    stroke: #979797; }
  .newsletter--popup .message {
    margin-top: 17px;
    width: 100%;
    display: none; }
    .newsletter--popup .message span {
      display: none; }

.section--newsletter {
  height: 70vh;
  min-height: 421px; }
  .section--newsletter .section--newsletter--signup {
    max-width: 365px;
    margin: 0 auto;
    padding: 0; }
  .section--newsletter h3.section--newsletter--heading,
  .section--newsletter p.section--newsletter--paragraph,
  .section--newsletter .message {
    color: #161616; }
  .section--newsletter h3.section--newsletter--heading {
    font-family: Rubik, sans-serif;
    font-size: 24px;
    font-weight: bold; }
  .section--newsletter p.section--newsletter--paragraph {
    font-size: 18px;
    text-align: left; }
  .section--newsletter .message {
    margin-top: 17px;
    width: 100%;
    display: none;
    text-align: left; }
  @media (max-width: 767px) {
    .section--newsletter {
      height: auto; }
      .section--newsletter .section--newsletter--signup {
        margin: 125px auto; }
      .section--newsletter h3.section--newsletter--heading {
        text-align: left; } }

.product--form--container {
  margin-left: 50px; }
  .product--form--container .product--form--selector {
    margin: 0;
    min-height: unset;
    padding: 10px 0; }
  .product--form--container .hide {
    display: none; }
  .product--form--container .product--form {
    border-bottom: none; }
  .product--form--container .product--form--price {
    color: #898686;
    font-size: 24px;
    margin-bottom: 20px; }
  .product--form--container .product--form--qty {
    margin-bottom: 20px; }
    .product--form--container .product--form--qty > div {
      padding-right: 10px;
      align-self: flex-end;
      padding-bottom: 2px;
      color: #161616; }
    .product--form--container .product--form--qty input {
      border-radius: 4px;
      padding: 8px 10px;
      color: #353434;
      font-size: 16px;
      border: 1px solid #898686;
      width: 77px;
      width: 60px;
      text-align: center; }
  .product--form--container .product--form--atc {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: rubik, sans-serif;
    margin-bottom: 20px; }
  @media (max-width: 900px) {
    .product--form--container {
      margin-left: 0;
      margin-top: 30px; }
      .product--form--container .product--form--price {
        text-align: center; } }

.product-design {
  display: flex;
  margin-bottom: 40px; }
  .product-design > span {
    display: none; }
  .product-design.product-design--not-found,
  .product-design.product-design--not-found > span {
    display: block; }
  .product-design .product-design__image {
    width: 33.3333333%;
    padding-right: 20px; }
    .product-design .product-design__image img {
      width: 100%;
      height: auto; }
  .product-design .product-design__content {
    width: 66.6666666%;
    padding-left: 10px; }
    .product-design .product-design__content h4 {
      color: #898686;
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 20px; }
    .product-design .product-design__content h5, .product-design .product-design__content h6 {
      font-size: 16px;
      font-weight: bold;
      color: #161616;
      margin: 0; }
    .product-design .product-design__content h6 {
      font-weight: normal; }
  @media (max-width: 900px) {
    .product-design {
      flex-wrap: wrap; }
      .product-design .product-design__content,
      .product-design .product-design__image {
        text-align: center;
        width: 100%; }
      .product-design .product-design__content {
        order: 1; }
        .product-design .product-design__content h4 {
          margin-top: 0;
          margin-bottom: 10px; }
      .product-design .product-design__image {
        order: 2;
        max-width: 120px;
        margin: 20px auto 0 auto;
        padding: 0; } }

.product-designs-container .product-designs__loading {
  margin: 50px 50px 80px 50px; }

.product-designs-container .product-designs__loaded {
  display: none; }

.product-designs-container .variant--selector--bar {
  margin-bottom: 0; }

.product-designs-container .selector--heading--right,
.product-designs-container .selector--heading--left,
.product-designs-container .selector--heading--left a,
.product-designs-container .selector--heading--right a {
  color: #161616;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none; }

.product-designs-container .selector--heading--right a {
  color: #898686;
  text-decoration: underline !important; }

.product-designs-container.product-designs--loaded .product-designs__loaded {
  display: block; }

.product-designs-container.product-designs--loaded .product-designs__loading {
  display: none; }

.product-designs-container .product-designs .glide__track {
  margin: 0 -5px; }

.product-designs-container .product-designs .glide__slides {
  margin: 0; }

.product-designs-container .product-designs .glide__slide {
  display: flex;
  flex-wrap: wrap;
  margin: 0; }
  .product-designs-container .product-designs .glide__slide .product-designs__design {
    padding: 3px;
    margin: 5px; }
    .product-designs-container .product-designs .glide__slide .product-designs__design img {
      width: 48px;
      height: 48px; }
  .product-designs-container .product-designs .glide__slide .product-designs__design--active {
    border: 1px solid #353434; }

.product-designs-container .product-designs .glide__arrow--left,
.product-designs-container .product-designs .glide__arrow--right {
  top: 50%; }

.product-designs-container .product-designs .glide__arrow--left {
  left: -60px; }

.product-designs-container .product-designs .glide__arrow--right {
  right: -60px; }

@media (max-width: 900px) {
  .product-designs-container .product-designs__loading svg {
    display: block;
    margin: 0 auto; }
  .product-designs-container .product-designs .glide__arrow--left svg,
  .product-designs-container .product-designs .glide__arrow--right svg {
    height: 15px;
    width: 15px; }
  .product-designs-container .product-designs .glide__arrow--left {
    left: -33px; }
  .product-designs-container .product-designs .glide__arrow--right {
    right: -33px; } }

.related-products-container {
  margin-bottom: 90px; }
  .related-products-container h2 {
    font-weight: bold;
    font-size: 32px;
    color: #161616;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center; }
  @media (max-width: 960px) {
    .related-products-container {
      padding: 0 25px; } }

.size-option-list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .size-option-list input {
    display: none; }
  .size-option-list label {
    padding: 14px 19px;
    color: #161616;
    font-size: 16px;
    font-weight: normal;
    margin-right: 8px; }
  .size-option-list label:last-child {
    margin-right: 0; }
  .size-option-list label:hover,
  .size-option-list input:checked + label {
    background: #EAEAEA; }

.size-option-list input {
  display: none; }

.size-option-list label {
  padding: 14px 19px;
  color: #161616;
  font-size: 16px;
  font-weight: normal;
  margin-right: 8px; }

.size-option-list label:last-child {
  margin-right: 0; }

.size-option-list label:hover,
.size-option-list input:checked + label {
  background: #EAEAEA; }

.color-option-list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .color-option-list input {
    display: none; }
  .color-option-list label,
  .color-option-list a {
    background: #3F3F4E;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    position: relative; }
  .color-option-list label:last-child,
  .color-option-list a:last-child {
    margin-right: 0; }
  .color-option-list label.color--white,
  .color-option-list label.color--blanc,
  .color-option-list a.color--white,
  .color-option-list a.color--blanc {
    background: #FBF7F7 !important;
    border: 1px solid #EAEAEA; }
  .color-option-list a.color--black,
  .color-option-list a.color--noir,
  .color-option-list label.color--black,
  .color-option-list label.color--noir {
    background: #161616 !important; }
  .color-option-list label.color--grey {
    background: #C8C7C7 !important; }
  .color-option-list label:hover::before,
  .color-option-list input:checked + label::before {
    background: transparent;
    border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    border: 1px solid #353434;
    width: 28px;
    height: 28px; }

.featured-collection {
  padding: 0 54px;
  margin: 40px 0 50px 0; }
  .featured-collection .glide__arrow {
    top: 40%; }
  .featured-collection .glide__arrow.glide__arrow--right {
    right: -47px; }
  .featured-collection .glide__arrow.glide__arrow--left {
    left: -47px; }
  .featured-collection .glide__slide img {
    width: 100%;
    height: auto; }

.product-listing.product-listing--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px; }

.product-listing.product-listing--grid.product-listing--grid-four {
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.product-listing img {
  width: 100%;
  height: auto; }

.product-listing h5,
.product-listing h6 {
  font-size: 16px;
  color: #161616; }

.product-listing h5,
.product-listing h6,
.product-listing .product-listing__see-more {
  margin: 0;
  line-height: 20px; }

.product-listing h5 {
  font-weight: bold; }

.product-listing .product-listing__content {
  margin-top: 8px; }

.product-listing .product-listing__see-more {
  font-size: 14px;
  color: #898686;
  text-decoration: underline; }

.product-listing .product-listing__content .product-listing__colors a {
  width: 16px;
  height: 16px;
  border: 1px solid #d5d5d5;
  margin-bottom: 7px; }

.product-listing .product-listing__image {
  position: relative;
  transition: opacity 0.5s; }
  .product-listing .product-listing__image.product-listing__image--swapping {
    opacity: 0.3; }
  .product-listing .product-listing__image .quick-add,
  .product-listing .product-listing__image .quick-add__sizes,
  .product-listing .product-listing__image .quick-add__error {
    display: none;
    position: absolute;
    background: #fff;
    padding: 5px;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    font-size: 14px; }
  .product-listing .product-listing__image .quick-add,
  .product-listing .product-listing__image .quick-add__error {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
    line-height: 10px; }
  .product-listing .product-listing__image .quick-add__error {
    font-weight: normal;
    text-transform: none;
    text-decoration: none; }
  .product-listing .product-listing__image:hover .quick-add {
    display: block; }
  .product-listing .product-listing__image .quick-add__sizes {
    list-style: none;
    margin-bottom: 0; }
  .product-listing .product-listing__image .quick-add__sizes .quick-add__size {
    display: block;
    padding: 10px;
    text-decoration: none;
    line-height: 10px;
    min-width: 32px; }
  .product-listing .product-listing__image .quick-add__sizes .quick-add__size:hover,
  .product-listing .product-listing__image .quick-add__sizes .quick-add__size:active {
    background: #EAEAEA; }
  .product-listing .product-listing__image .quick-add__sizes li:last-child a {
    margin-right: 0; }
  .product-listing .product-listing__image .quick-add__sizes.quick-add__sizes--active {
    display: flex;
    flex-wrap: wrap; }
  .product-listing .product-listing__image .quick-add__error span {
    display: none; }

@media (max-width: 960px) {
  .product-listing .product-listing__image .quick-add,
  .product-listing .product-listing__image:hover .quick-add,
  .product-listing .quick-add__sizes.quick-add__sizes--active {
    display: none; }
  .product-listing.product-listing--grid, .product-listing.product-listing--grid.product-listing--grid-four {
    grid-template-columns: 1fr 1fr; } }

.product-image {
  display: flex;
  margin-right: 50px; }
  .product-image .product-image__thumbnails {
    width: 64px;
    margin-right: 16px; }
  .product-image .product-image__featured img,
  .product-image .product-image__thumbnail img {
    width: 100%;
    height: auto;
    background: #F9F9F9; }
  .product-image .product-image__featured {
    width: calc(100% - 80px);
    cursor: zoom-in; }
  .product-image .product-image__thumbnail {
    display: block;
    margin-bottom: 16px; }
  @media (max-width: 900px) {
    .product-image {
      display: none; } }

.product-image__mobile {
  display: none;
  background: #F9F9F9;
  max-height: 500px; }
  .product-image__mobile img {
    display: block;
    width: auto;
    height: auto;
    max-height: 500px;
    margin: 0 auto; }
  .product-image__mobile .glide__bullets .glide__bullet {
    border: 1px solid #fff; }
    .product-image__mobile .glide__bullets .glide__bullet.glide__bullet--active {
      background-color: #fff; }
  @media (max-width: 900px) {
    .product-image__mobile {
      display: block; } }

.product-image-zoom {
  align-items: center;
  justify-content: center; }
  .product-image-zoom.product-image-zoom--zoomed {
    display: flex; }
  .product-image-zoom .product-image-zoom__close {
    cursor: pointer;
    position: absolute;
    top: 65px;
    right: 85px; }
  .product-image-zoom .glide {
    position: static;
    max-width: 635px;
    max-height: 100%; }
    .product-image-zoom .glide .glide__arrow.glide__arrow--left {
      left: 85px;
      padding-left: 0; }
    .product-image-zoom .glide .glide__arrow.glide__arrow--right {
      right: 85px;
      padding-right: 0; }
  .product-image-zoom img {
    max-height: 75vh;
    height: auto;
    width: auto;
    margin: 0 auto;
    display: block; }

.toggles--section {
  border-top: 1px solid #eaeaea; }
  .toggles--section .toggle--activation {
    height: 60px;
    align-items: center; }
  .toggles--section .toggle--item {
    border-bottom: 1px solid #eaeaea; }
    .toggles--section .toggle--item .icon-minus {
      display: none; }
  .toggles--section .toggle--item.toggle--item--open .icon-plus {
    display: none; }
  .toggles--section .toggle--item.toggle--item--open .icon-minus {
    display: inline-block; }
  .toggles--section .toggle--heading {
    font-size: 16px !important;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase; }
  .toggles--section .toggle--contents {
    margin-top: 0; }

/* From https://codepen.io/mrrocks/pen/EiplA */
.spinner {
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #c8c7c7; }
  25% {
    stroke: #9b9999; }
  50% {
    stroke: #c8c7c7; }
  75% {
    stroke: #9b9999; }
  100% {
    stroke: #c8c7c7; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }

.full-page-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  background: #FFFFFF;
  z-index: 30;
  overflow: auto;
  padding: 0 85px;
  align-items: center;
  justify-content: center; }
  .full-page-popup.full-page-popup--open {
    display: block; }

.see-all-designs {
  display: none; }
  .see-all-designs.see-all-designs--loaded {
    display: block; }

.all-designs {
  display: none;
  top: 105px;
  height: calc(100vh - 105px);
  padding: 50px 70px; }
  .all-designs .all-designs__close {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    cursor: pointer;
    padding: 13px 17px 10px 17px;
    position: absolute;
    top: 150px;
    right: 85px; }
    .all-designs .all-designs__close svg {
      width: 14px;
      height: 14px; }
    .all-designs .all-designs__close svg g {
      stroke-width: 4; }
    .all-designs .all-designs__close:hover {
      background: rgba(0, 0, 0, 0.2); }
  .all-designs h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 60px 0;
    color: #161616; }
  .all-designs .all-designs__categories {
    list-style-type: none;
    padding-left: 0; }
    .all-designs .all-designs__categories li {
      display: inline-block;
      padding-right: 10px;
      margin-right: 6px;
      border-right: 1px solid #161616; }
    .all-designs .all-designs__categories li:last-child {
      border-right: none;
      padding-right: 0;
      margin-right: 0; }
    .all-designs .all-designs__categories li a {
      text-decoration: none;
      font-size: 14px;
      color: #161616; }
    .all-designs .all-designs__categories li a.active-category {
      font-weight: bold; }
  .all-designs .all-designs__designs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 40px 0; }
  .all-designs .all-designs__design {
    position: relative;
    cursor: pointer; }
    .all-designs .all-designs__design img {
      width: 100%;
      height: auto; }
    .all-designs .all-designs__design div {
      align-items: center;
      background: rgba(22, 22, 22, 0.7);
      color: #fff;
      display: flex;
      opacity: 0;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 2px;
      transition: opacity 0.3s;
      justify-content: center;
      height: 100%;
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    .all-designs .all-designs__design:hover div {
      opacity: 1; }
  .all-designs .all-designs__back {
    text-align: center;
    margin-top: 40px; }
    .all-designs .all-designs__back a {
      font-size: 14px;
      color: #898686;
      text-decoration: underline !important; }
  @media (max-width: 900px) {
    .all-designs {
      padding: 50px 15px; }
      .all-designs .all-designs__designs {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px; }
      .all-designs .all-designs__close {
        top: 25px;
        right: 15px; }
      .all-designs h2 {
        font-size: 18px;
        text-align: left;
        margin: 20px 0 20px 0; } }
